<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__title">Навигация по сайту</h2>
    <ul class="footer__list">
      <li class="footer__item">
        <a href="index.html" class="logo logo--grey">
          <b class="logo__bold">Благо</b>Творительность
        </a>
        <div class="footer__decription-company">
          <strong class="footer__name-company">Наименование организации</strong>
          <a href="https://goo.gl/maps/66TTkztbrPLTYekZ8" class="footer__link-company">г. Москва, ул. Ленина, дом 18, оф 15</a>
        </div>
        <p class="footer__number-company">
          <a href="tel:+71231234567" class="footer__number-link">+7 (123) 123 45 67</a>
          <a href="tel:+71231234567" class="footer__number-link">+7 (123) 123 45 67</a>
        </p>
      </li>

      <li class="footer__item footer__item--navigation">
        <nav class="footer__navigation">
          <ul class="footer__navigation-list">
            <li>
              <a href="about-us.html">О нас</a>
            </li>
            <li>
              <a href="projects.html">Проекты</a>
            </li>
            <li>
              <a href="score.html">Магазин</a>
            </li>
            <li>
              <a href="contacts.html">Контакты</a>
            </li>
            <li>
              <a href="agreement.html">Соглашение</a>
            </li>
            <li>
              <a href="questions.html">FAQ</a>
            </li>
            <li>
              <a href="media.html">СМИ о нас</a>
            </li>
            <li>
              <a href="№">Trust & Safety</a>
            </li>
          </ul>
        </nav>
      </li>

      <li class="footer__item footer__item--subscription">
        <strong class="footer__item-subtitle">Подпишитесь на обновления</strong>
        <form action="#" class="form footer__subscription-form">
          <label class="label">
            <input type="email" class="input input--main" placeholder="Ваша почта">
          </label>
        </form>
        <strong class="footer__item-subtitle footer__item-subtitle--social">Мы в соц сетях</strong>
        <ul class="social footer__social">
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="icon-instagram social__icon social__icon--instagram"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="icon-facebook social__icon social__icon--facebook"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="icon-twitter social__icon social__icon--twitter"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="icon-vk social__icon social__icon--vk"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <i class="icon-youtube social__icon social__icon--youtube"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer__bottom">
      <a href="#" class="link link--grey footer__bottom-link">Политика конфиденциальности</a>
      <p class="footer__copyright">Copyright 2020. Благотворительность</p>
      <a href="#" class="link link--grey footer__bottom-link footer__bottom-link--studio">Дизайн разработан PlemyaStudio</a>
    </div>
  </div>
</footer>
